language: node_js
node_js:
    - "0.12"
    - "0.11"
    - "0.10"

before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script: karma start --single-run --browsers Chromium
